.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #998C8C;
    color: white;
    text-align: center;
}
html, body, #app, #app>div {
    height: 100%
  }
body{
    background-color: #535d60;
   
} 


.feature{
    background-image: url(fe.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
   
    

}

.error{
    color : red;
}
.form{
width:400;

}